# Sets

# Sets are used to store multiple items in a single variable.
# A set is a collection which is unordered, unchangeable, and unindexed.

In [1]:
my_friends = {"sowjanya","lasya","aiswarya","sree"}
my_friends

{'aiswarya', 'lasya', 'sowjanya', 'sree'}

# Duplicates are ignored in set

# Sets cannot have two items with the same value.

In [2]:
my_friends = {"sowjanya","lasya","aiswarya","sree","sree"}
my_friends

{'aiswarya', 'lasya', 'sowjanya', 'sree'}

# len() : Used to find the length of set

In [3]:
print(len(my_friends))

4

# Set items can have different data types

In [5]:
my_friends = {"lasya",2002,"ukkusuri"}
print(my_friends)

{2002, 'ukkusuri', 'lasya'}

In [8]:
set1 = {"sriya","anju"}
set2 = {"True","False"}
set3 = {2002,2001}
print(set1)
print(set2)
print(set3)

{'sriya', 'anju'}
{'True', 'False'}
{2001, 2002}

# Operations on Sets

# 1) add() :  Once a set is created, you cannot change its items, but you can add new items.

In [22]:
my_friends = {"sowjanya","lasya","aiswarya","sree"}
my_friends.add("sriya")
my_friends

{'aiswarya', 'lasya', 'sowjanya', 'sree', 'sriya'}

# To add items from another set into the current set, use the update() method.

# Removing set items

# 1) To remove an item in a set, using the remove()

In [26]:
my_friends = {"sowjanya","lasya","aiswarya","sree"}
my_friends.remove("sree")
my_friends

{'aiswarya', 'lasya', 'sowjanya'}

# 2) To remove an item in a set,using discard() method

In [27]:
my_friends.discard("lasya")
my_friends

{'aiswarya', 'sowjanya'}

# 2) pop() : Removes the last element

In [29]:
my_friends.pop()
my_friends

{'aiswarya'}

# 3) clear() : The clear() method empties the set

In [32]:
my_friends.clear()
my_friends

set()

# 4) del() : The del keyword will delete the set completely

In [35]:
my_friends = {"sowjanya","lasya","aiswarya","sree"}

my_friends

{'aiswarya', 'lasya', 'sowjanya', 'sree'}

In [ ]:
my_friends = {"sowjanya","lasya","aiswarya","sree"}
del my_friends
print(my_friends) #This will raise an error because the set no longer exists

# Joins

# 1) Union : The union() method returns a new set with all items from both sets:

In [2]:
set1 = {"lahari", "geeta" , "sriya"}
set2 = {2000,2001,2002}

set3 = set1.union(set2)
print(set3)

{2000, 2001, 2002, 'lahari', 'geeta', 'sriya'}

# 2) Update : The update() method inserts the items in set2 into set1

In [4]:
set1 = {"lahari", "geeta" , "sriya"}
set2 = {2000,2001,2002}
set1.update(set2)
print(set1)

{2000, 2001, 2002, 'lahari', 'geeta', 'sriya'}

# Note : Both union() and update() will exclude any duplicate items.

# 3) intersection_update() : This method will keep only the items that are present in both sets.

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# 4) symmetric_difference_update() : This method will keep only the elements that are NOT present in both sets.

In [6]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'banana', 'google'}